/* Text Color */
.text-medium-gray {
    color: #8e8e8e;
}
.text-dark-teal {
    color: #138e84; /* primary */
}

.text-slate-blue {
    color: #436786;
}

.text-golden-orange {
    color: #f39c12;
}

.text-forest-green {
    color: #118d51;
}

.text-dark-gray {
    color: #555555;
}

.text-dark {
    color: #000000;
}

.text-dark-charcoal {
    color: #333333;
}
.text-mid-gray{
    color: #888888;
}
/* Background Color */
.bg-offwhite {
    background-color: #f5f5f5;
}

.bg-black-shade {
    background-color: #1e1e1e;
}

.bg-platinum {
    background-color: #eeeeee;
}

.bg-white{
    background-color: #ffffff;
}

.bg-forest-green{
    background-color: #118d51;
}


i{
    width: 10px;
}


.nav-item > .nav-link{
    font-size: 16px !important;
    color: #118d51;
    font-weight: normal !important;
}

.nav-item > .nav-link:hover{
    color: #118d51;
}


.nav-item > .nav-link.active-link{
    /* font-weight: bold !important; */
    background-color: #118d51;
    color: #eeeeee;
    border-radius: 2px;
}

.border-right-black{
    border-right: 1px solid rgb(143, 143, 143);
}

.toggle-button{
    background-color: #eeeeee;
    border: 1px solid #eeeeee;
    /* background-color: #000000; */
}
